*{
    box-sizing: border-box;

}

body {
    background-color: black;
    width: 1000px;
    margin: auto;
}

p{
    color: lightblue;
    text-align: center;
}


h1{
    text-align: center;
    color: lightblue;
    font-family: sans-serif;
    font-size: 4rem;
}

span{
    color:lightblue ;
}

.keys {
    margin: 0% 20%;
}

kbd{
    margin-left: 0.5rem;
}

.key{
    width: 18.5%;
    padding: 0rem 1rem;
    float: left;
    text-align: center;
    font-size: 2rem;
    color: white;
    border: solid 1px lightblue;
    margin: 0.2rem;
}

@media only screen and (max-width: 600px) {
    body {
        width: auto;
        margin: 1rem;
    }

    h1{
        font-family: sans-serif;
        font-size: 2rem;
    }

    html{
        padding: 0rem;
    }

    .keys {
        margin: 0% 7%;
    }



    .key{
        width: 16%;
        padding: 0.5rem 1rem;
        float: left;
        text-align: center;
        font-size: 1rem;
    }
}